.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 1);
  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 1);
  }
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.text {
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(14px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: auto;
  height: rem(256px);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.tabs_list {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1);
  @media (max-width: $mantine-breakpoint-xs) {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1);
  }
}

.group {
  flex-direction: column;
}

.button {
  margin-top: rem(90px);
}